catboost==1.1
contourpy==1.0.5
cycler==0.11.0
fonttools==4.37.4
joblib==1.1.0
kiwisolver==1.4.4
matplotlib==3.6.1
numpy==1.23.2
packaging==21.3
pandas==1.5.0
Pillow==9.2.0
plotly==5.10.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.4
scikit-learn==1.1.2
scipy==1.9.1
six==1.16.0
sklearn==0.0
tenacity==8.1.0
threadpoolctl==3.1.0
xgboost==1.6.2
graphviz==0.20.1
networkx==3.0
setuptools~=67.3.2
numba==0.56.4
skops==0.5.0
dask==2023.1.1
